<html layout:decorate="~{admin_layout}">
<head>
	<title>북드림 관리자 대시보드</title>
</head>

<body>
	<div layout:fragment="content" class="container">
				<h2 class="text-center mb-4 fw-bold">대시보드</h2>
				
				<div class="row">
					<div class="col-md-3">
						<div class="card text-white bg-primary mb-3 text-center">
							<div class="card-header">회원 수</div>
							<div class="card-body">
								<h5 class="card-title">100</h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-white bg-success mb-3 text-center">
							<div class="card-header">서적 수</div>
							<div class="card-body">
								<h5 class="card-title">100</h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-white bg-warning mb-3 text-center">
							<div class="card-header">서적 리뷰 수</div>
							<div class="card-body">
								<h5 class="card-title">100</h5>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-white bg-danger mb-3 text-center">
							<div class="card-header">주문 수</div>
							<div class="card-body">
								<h5 class="card-title">50</h5>
							</div>
						</div>
					</div>
				</div>
	</div>
</body>
</html>