<html layout:decorate="~{admin_layout}">
<head>
    <title>북드림 서적 리뷰 관리</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <h2 class="text-center mb-4 fw-bold">서적 리뷰 관리</h2>

            <table class="table table-bordered table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="text-center">리뷰 목록</h3>
                        </th>
                    </tr> 
                    <tr class="table-active">
                        <th scope="col">ID</th>
                        <th scope="col">서적 ID</th>
                        <th scope="col">내용</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성 일자</th>
                        <th scope="col">즉시 삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviews}">
                        <td th:text="${review.id}"></td>
                        <td th:text="${review.book}"></td>
                        <td th:text="${review.review}"></td>
                        <td th:text="${review.user}"></td>
                        <td th:text="${#temporals.format(review.time, 'yyyy-MM-dd')}"></td>
                        <td>
                        	<form th:action="@{/admin/review/delete/{id}(id=${review.id})}" method="post" style="display:inline;">
			    				<button type="submit" class="btn btn-secondary">삭제</button>
							</form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="text-center">리뷰 답글 목록</h3>
                        </th>
                    </tr> 
                    <tr class="table-active">
                        <th scope="col">ID</th>
                        <th scope="col">리뷰</th>
                        <th scope="col">내용</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성 일자</th>
                        <th scope="col">즉시 삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="answer : ${answers}">
                        <td th:text="${answer.id}"></td>
                        <td th:text="${answer.review.id}"></td>
                        <td th:text="${answer.answer}"></td>
                        <td th:text="${answer.user}"></td>
                        <td th:text="${#temporals.format(answer.time, 'yyyy-MM-dd')}"></td>
                        <td>
                        	<form th:action="@{/admin/answer/delete/{id}(id=${answer.id})}" method="post" style="display:inline;">
			    				<button type="submit" class="btn btn-secondary">삭제</button>
							</form>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>
