<!-- flex-sm-row bg-dark-subtle  -->
<footer th:fragment="footerfragment" class="border-top bg-light">
	<div class="d-flex flex-sm-row justify-content-between py-4 my-4 container-fluid inner">
    <div>      
      <a href="@{|/main|}" class="navbar-brand">Book Dream(로고자리)</a>
      <br>
      <p>
        사각사각 | 이소미, 박재성, 이준희, 조윤정, 진민경, 황혜원
      </p>
      <p>© 2024 Book Dream, Inc. All rights reserved.</p>
    </div>
    <div>
      <p>대표전화: 010-1111-2222</p>
      <p>고객센터: 070-1111-2222</p>
    </div>
  </div>
</footer>